.modalBackground {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #00000048;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  min-height: 460px;
  border-radius: 0.8rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.349) 0px 4px 12px;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(192, 192, 192);
  padding: 0.4rem 0;
}

.modalHeader h3 {
  font-size: 1.3rem;
}

.categoryContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 0.4rem 0;
  background-color: rgba(128, 128, 128, 0.082);
  padding: 0.2rem;
  gap: 0.2rem;
  border-radius: 0.4rem;
}

.categoryContainer button {
  font-size: 1.3rem;
  width: 100%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
  background-color: #fff;
}

.categoryContainer .incomeSelected {
  background-color: #e5f7e5;
  color: #2a5f2a;
  font-weight: bold;
}

.categoryContainer .expenseSelected {
  background-color: #feeaea;
  color: #770c0c;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.8rem 0.4rem;
  border: 0.1rem solid #4b5563;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  outline: none;
}

.saveIncome {
  cursor: pointer;
  background-color: #3f8d3fc5;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  transition: 0.4s ease;
}
.saveIncome:hover {
  background-color: rgba(32, 80, 32, 0.773);
  color: #fff;
}
.saveExpense {
  cursor: pointer;
  background-color: #fb5656;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  transition: 0.4s ease;
}
.saveExpense:hover {
  background-color: #a33636;
  color: white;
}

@media (max-width: 425px) {
  .modalContainer {
    padding: 1.4rem;
  }
  .categoryContainer button {
    font-size: 1rem;
  }
}

.loadingContainer {
  width: 100%;
  height: 200px; /* pode ajustar */
  display: flex;
  align-items: center;
  justify-content: center;
}
