.cardContainer {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.card {
  flex: 1;
  background-color: #fff;
  width: 100%;
  height: 140px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.cardCategory {
  font-size: 1rem;
  font-weight: 500;
  color: #6b7280;
  cursor: default;
}

.cardValue {
  cursor: default;
  font-size: 2.5rem;
  font-weight: bold;
}

.income {
  color: #16a34a;
}

.expenses {
  color: #dc2626;
}

@media (max-width: 1400px) {
  .cardContainer {
    padding: 1rem 2rem;
  }
}
@media (max-width: 810px) {
  .cardContainer {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .card {
    flex: 0 0 80%;
    min-width: 250px;
  }
}

@media (max-width: 426px) {
  .cardContainer {
    padding: 1rem;
  }
}
