.logo {
  top: 3%;
  left: 6%;
  width: 100px;
  position: absolute;
}

.loginContainer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem;
  margin: auto;
}

.textContainer {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.textContainer h1 {
  line-height: 3rem;
  font-size: 3rem;
  max-width: 14ch;
}
.textContainer h1 span {
  background: linear-gradient(
    21deg,
    rgba(76, 147, 217, 1) 31%,
    rgba(125, 209, 37, 1) 65%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.textContainer p {
  color: #4b5563;
  font-weight: 500;
  max-width: 85%;
  font-size: 1.2rem;
}

.textContainer button {
  font-size: 1.3rem;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  max-width: 60%;
  background: linear-gradient(
    21deg,
    rgba(76, 147, 217, 1) 31%,
    rgba(125, 209, 37, 1) 65%
  );
  cursor: pointer;
}

.textContainer button:hover {
  background: #69aff5;
  background: linear-gradient(
    21deg,
    rgba(105, 175, 245, 1) 31%,
    rgba(147, 242, 46, 1) 65%
  );
}

@media (max-width: 1000px) {
  .loginContainer {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding: 0;
    margin: 0;
  }
  .textContainer {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .textContainer h1 {
    margin: auto;
  }

  .textContainer p {
    max-width: 100%;
  }

  .textContainer button {
    max-width: 100%;
  }
}

.createAccount {
  display: none;
}

.test {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test2 {
  display: none;
}

@media (max-width: 750px) {
  .textContainer {
    max-width: 80%;
    padding: 1rem 0 3rem;
  }
}

@media (max-width: 426px) {
  .createAccount {
    display: inline;
  }
  .hideText {
    display: none;
  }
  .test {
    display: none;
  }
  .test2 {
    display: inline;
  }
}
