.logo {
  bottom: 45%;
  left: 5%;
  width: 100px;
  position: relative;
}

.loginContainer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem 0 0;
  margin: auto;
}

.textContainer {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.textContainer h1 {
  line-height: 3rem;
  font-size: 3rem;
  max-width: 14ch;
}
.textContainer h1 span {
  background: linear-gradient(
    21deg,
    rgba(76, 147, 217, 1) 31%,
    rgba(125, 209, 37, 1) 65%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.textContainer p {
  color: #4b5563;
  font-weight: 500;
  max-width: 85%;
  font-size: 1.2rem;
}

.textContainer button {
  font-size: 1.3rem;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  max-width: 60%;
  background: linear-gradient(
    21deg,
    rgba(76, 147, 217, 1) 31%,
    rgba(125, 209, 37, 1) 65%
  );
  cursor: pointer;
}

.textContainer button:hover {
  background: #69aff5;
  background: linear-gradient(
    21deg,
    rgba(105, 175, 245, 1) 31%,
    rgba(147, 242, 46, 1) 65%
  );
}

.formContainer {
  max-width: 100%;
}

.formContainer h2 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.formContainer h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 1rem;
}

.formContainer h2,
h4 {
  text-align: center;
}

.buttonRegister {
  font-size: 1.3rem;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  background: linear-gradient(
    21deg,
    rgba(76, 147, 217, 1) 31%,
    rgba(125, 209, 37, 1) 65%
  );
  cursor: pointer;
}

.buttonRegister:hover {
  background: #69aff5;
  background: linear-gradient(
    21deg,
    rgba(105, 175, 245, 1) 31%,
    rgba(147, 242, 46, 1) 65%
  );
}

.newUser {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #4b5563;
}

.newUser span {
  text-decoration: none;
  color: #056ed6;
  cursor: pointer;
}

@media (max-width: 750px) {
  .formContainer {
    width: 80%;
    max-width: 100vw;
  }
}

@media (max-width: 426px) {
  .formContainer {
    width: 80%;
    max-width: 100vw;
    margin: auto;
  }
}
