.formContainer {
  max-width: 100%;
}

.formContainer h2 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.formContainer h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 1rem;
}

.formContainer h2,
h4 {
  text-align: center;
}

.formContainer button {
  font-size: 1.3rem;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  background: linear-gradient(
    21deg,
    rgba(76, 147, 217, 1) 31%,
    rgba(125, 209, 37, 1) 65%
  );
  cursor: pointer;
}

.formContainer button:hover {
  background: #69aff5;
  background: linear-gradient(
    21deg,
    rgba(105, 175, 245, 1) 31%,
    rgba(147, 242, 46, 1) 65%
  );
}

.newUser {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #4b5563;
}

.newUser span {
  text-decoration: none;
  color: #056ed6;
  cursor: pointer;
}

@media (max-width: 750px) {
  .formContainer {
    width: 80%;
    max-width: 100vw;
  }
}

@media (max-width: 426px) {
  .formContainer {
    width: 80%;
    max-width: 100vw;
    margin: auto;
  }
}
