.historyContainer {
  max-width: 1400px;
  width: 100%;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 0.8rem;
  gap: 1rem;
  padding: 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.historyTitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.historyItemIncome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(192, 192, 192);
  padding-bottom: 0.6rem;
}
.historyItemIncome p {
  font-weight: 500;
  font-size: 1.2rem;
}

.historyItemExpense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(192, 192, 192);
  padding-bottom: 0.6rem;
}

.historyItemExpense p {
  font-weight: 500;
  font-size: 1.2rem;
}

.incomeValue {
  color: #16a34a;
  font-weight: bold;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.expenseValue {
  color: #dc2626;
  font-weight: bold;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.noData {
  text-align: center;
  margin-top: 10px;
  color: #777;
  font-style: italic;
}

p span {
  font-size: 0.9rem;
  color: #777;
  font-style: italic;
}

@media (max-width: 1400px) {
  .historyContainer {
    max-width: 95%;
  }
}
